In [4]:
import pandas as pd

In [10]:
SONGS = pd.read_csv("bimmuda_per_song_full.csv")

# How to Get the Data

Source Location: This dataset can be downloaded directly from the Billboard Melodic Music Dataset report (https://transactions.ismir.net/articles/168/files/66b30cacae2f2.pdf). 

Download Date: November 5, 2025

Steps to Reproduce: The file is on page 13 of the document linked above, under the "Supplementary File" bullet. Open the downloaded folder and navigate to the BiMMuDa folder within it. The csv file for each song is in the "bimmuda_metadata" folder inside BiMMuDa.

# How This Data Was Produced

Producers/Owners: 
Madeline Hamilton (Music Cognition Lab, Queen Mary University of London, London
E1 4NS, United Kingdom), Ana Clemente (Music Cognition Lab, Queen Mary University of London, London
E1 4NS, United Kingdom; Department of Cognition, Development and Educational Psychology, Institute of
Neurosciences, University of Barcelona, Spain; Cognition and Brain Plasticity Unit, Bellvitge Biomedical Research Institute (IDIBELL), Barcelona, Spain), Edward Hall (Music Cognition Lab, Queen Mary University of London, London
E1 4NS, United Kingdom), Marcus Pearce (Music Cognition Lab, Queen Mary University of London, London E1 4NS, United Kingdom; Department of Clinical Medicine, Aarhus University, Denmark)


Source Material: This dataset includes the top five songs from each year between 1950 and 2022. These 371 songs obtained their rankings from the official Billboard Year-End Singles Charts.


Creation Process: The melodies for each song in the dataset (371 in total) were recorded manually and used to create 371 MIDI files for each song. These MIDI files were then broken down into less complex song portions to create more of these files. These song and melody files, in addition to scores and lyrics, are combined to make the full dataset.
 


Format: While majority of this dataset is in the form of MIDI files, the specific spreadsheet detailing each song is in the form of a csv file.

# Data Features

In [11]:
SONGS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379 entries, 0 to 378
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title                   379 non-null    object
 1   Artist                  379 non-null    object
 2   Year                    379 non-null    int64
 3   Position                379 non-null    object
 4   Link to Audio           379 non-null    object
 5   Tonic 1                 379 non-null    object
 6   Tonic 2                 10 non-null     object
 7   Tonic 3                 1 non-null      object
 8   Mode 1                  379 non-null    object
 9   Mode 2                  10 non-null     object
 10  Mode 3                  1 non-null      object
 11  BPM 1                   379 non-null    int64
 12  BPM 2                   8 non-null      float64
 13  BPM 3                   2 non-null      float64
 14  Number of Parts         373 non-null    float64
 15  Number of Words         365 non-null    float64
 16  Number of Unique Words  365 non-null    float64
 17  Unique Word Ratio       365 non-null    float64
 18  Number of Syllables     365 non-null    float64
dtypes: float64(7), int64(2), object(10)
memory usage: 56.4+ KB

In [12]:
SONGS.head()

,Title,Artist,Year,Position,Link to Audio,Tonic 1,Tonic 2,Tonic 3,Mode 1,Mode 2,Mode 3,BPM 1,BPM 2,BPM 3,Number of Parts,Number of Words,Number of Unique Words,Unique Word Ratio,Number of Syllables
0,Goodnight Irene,Gordon Jenkins & The Weavers,1950,1,https://open.spotify.com/track/3GtfeLBXe15nyEM...,F,NaN,NaN,Major,NaN,NaN,94,141.0,NaN,2.0,134.0,58.0,0.43,207.0
1,Mona Lisa,Nat King Cole,1950,2,https://open.spotify.com/track/5dae01pKNjRQtgO...,Db,NaN,NaN,Major,NaN,NaN,65,NaN,NaN,2.0,145.0,55.0,0.38,192.0
2,Third Man Theme,Anton Karas,1950,3,https://open.spotify.com/track/7rRGujA12UJcRUz...,G,NaN,NaN,Major,NaN,NaN,120,152.0,NaN,7.0,NaN,NaN,NaN,NaN
3,Sam's Song,Gary & Bing Crosby,1950,4,https://open.spotify.com/track/1Wnlagmoyo7M7In...,F,NaN,NaN,Minor,NaN,NaN,118,NaN,NaN,2.0,317.0,134.0,0.42,381.0
4,Simple Melody,Gary & Bing Crosby,1950,5,https://open.spotify.com/track/75lpxrV9sLZIRvz...,Bb,NaN,NaN,Major,NaN,NaN,151,NaN,NaN,2.0,199.0,55.0,0.28,265.0

In [9]:
SONGS.describe()

,Year,BPM 1,BPM 2,BPM 3,Number of Parts,Number of Words,Number of Unique Words,Unique Word Ratio,Number of Syllables
count,379.000000,379.000000,8.000000,2.0,373.000000,365.000000,365.000000,365.000000,365.000000
mean,1985.883905,105.717678,112.750000,128.0,3.117962,335.490411,104.249315,0.346438,413.172603
std,21.140428,24.796675,34.857875,0.0,1.129765,169.817996,47.162809,0.124295,208.865395
min,1950.000000,57.000000,80.000000,128.0,1.000000,12.000000,11.000000,0.100000,22.000000
25%,1967.500000,88.000000,89.000000,128.0,2.000000,215.000000,74.000000,0.260000,268.000000
50%,1986.000000,104.000000,95.000000,128.0,3.000000,303.000000,93.000000,0.330000,372.000000
75%,2004.000000,122.000000,143.750000,128.0,4.000000,439.000000,125.000000,0.410000,542.000000
max,2022.000000,174.000000,167.000000,128.0,8.000000,896.000000,312.000000,1.000000,1064.000000

# COLS Table

In [14]:
def create_cols_table(df):
    data_info = {
        'Column Name': df.columns,
        'Data Type': df.dtypes,
        'Non-Null Count': df.notnull().sum()
    }
    cols_table = pd.DataFrame(data_info)
    cols_table = cols_table.reset_index(drop=True)
    return cols_table

COLS = create_cols_table(SONGS)
display(COLS)

               Column Name Data Type  Non-Null Count
0                    Title    object             379
1                   Artist    object             379
2                     Year     int64             379
3                 Position    object             379
4            Link to Audio    object             379
5                  Tonic 1    object             379
6                  Tonic 2    object              10
7                  Tonic 3    object               1
8                   Mode 1    object             379
9                   Mode 2    object              10
10                  Mode 3    object               1
11                   BPM 1     int64             379
12                   BPM 2   float64               8
13                   BPM 3   float64               2
14         Number of Parts   float64             373
15         Number of Words   float64             365
16  Number of Unique Words   float64             365
17       Unique Word Ratio   float64             365
18     Number of Syllables   float64             365